@model TudoBuffet.Website.Models.BuffetAdminViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @await Html.PartialAsync("~/Views/Shared/_PartialMenuBuffetAdmin.cshtml")
        <div id="customer-orders" class="col-lg-9">
            <div class="box">
                <h1>Buffets</h1>
                <p class="lead">Bem-vindo, @Model.OwnerName</p>
                <p class="text-muted">Se houver algum problema, entre em <a href="contact.html">contato</a>, responderemos o mais breve possível.</p>
                <divw class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Data Ativação</th>
                                <th>Plano</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var purchasedPlan in Model.PurchasedBuffetAds)
                            {
                                <tr>
                                    <td><span>@purchasedPlan.Id</span></td>
                                    <td><span>@purchasedPlan.Name</span></td>
                                    <td><span>@purchasedPlan.ActivedAt</span></td>
                                    <td><span>@purchasedPlan.NamePlan</span></td>
                                    <td><span>@purchasedPlan.Status</span></td>
                                    <td><a href="~/admin/buffets/@purchasedPlan.BuffetId.ToString()/fotos" class="btn btn-primary btn-sm">Fotos</a></td>
                                    <td><a href="~/admin/buffets/@purchasedPlan.BuffetId.ToString()" class="btn btn-primary btn-sm">Editar</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </divw>
            </div>
        </div>
    </div>
</div>