@model TudoBuffet.Website.Models.PhotoDetailViewModel
@{
    ViewData["Title"] = "Photos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @await Html.PartialAsync("~/Views/Shared/_PartialMenuBuffetAdmin.cshtml")
        <div class="col-lg-9">
            <div class="box">
                <h1>Selecionar fotos</h1>
                <p class="lead">Selecione as fotos que deseja adicionar na divulgação do seu buffet</p>
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Add files...</span>
                    <!-- The file input field used as target for the file upload widget -->
                    <input id="fileupload" type="file" name="file" multiple>
                </span>
                <br>
                <br>
                <!-- The global progress bar -->
                <div id="progress" class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                </div>
                <div id="filesFound" class="row">
                    @foreach (var photo in Model.Photos)
                    {
                        <div class="col-md-4" id="@photo.Id.ToString().Substring(0, 8)">
                            <p>
                                <img src="@photo.ThumbnailUrl" />
                                <br>
                                <a target="_blank" href="@photo.Url">Visualizar</a>
                                <br>
                                <a href="javascript:callApi('@photo.DeleteUrl', '@photo.Id.ToString().Substring(0, 8)');">Excluir</a>
                                <br>
                            </p>
                        </div>
                    }
                </div>
                @Html.HiddenFor(m => m.BuffetId, new { id = "buffetid" })
                <div id="files" class="files">
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles{
    <link rel="stylesheet" href="~/vendor/jquery/css/jquery.fileupload.css">
}

@section Scripts{
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="~/vendor/jquery/jquery.ui.widget.js"></script>
    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="~/vendor/jquery/fileupload/jquery.iframe-transport.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="~/vendor/jquery/fileupload/jquery.fileupload.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="~/vendor/jquery/fileupload/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="~/vendor/jquery/fileupload/jquery.fileupload-image.js"></script>
    <script src="~/vendor/jquery/fileupload/jquery.fileupload-validate.js"></script>
    <script src="~/js/functions.js"></script>
    <script src="~/controller/usuario-detalhe-buffet-fotos.js"></script>
}